@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Norican';
  src: url('../resources/fonts/Norican-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.norican-font {
  font-family: 'Norican', sans-serif !important;
}

@font-face {
  font-family: 'Playwrite';
  src: url('../resources/fonts/Playwrite-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.playwrite-font {
  font-family: 'Playwrite', sans-serif !important;
}

.just-validate-error-label {
  color: red;
}

.hidden-until-visible {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.visible {
  opacity: 1;
  transform: translateY(0);
}